//definicion de variables
$myPrimary: rgb(30, 30, 155);
$mysecundary: rgb(233, 101, 101) ;
$myinfo: green ;
$mydark: rgb(25, 15, 112) ;
$mylight: aliceblue;

$myBgColorLight: rgb(140, 240, 173);


$myBgColorLight2: rgb(151, 151, 223);

$myBgColorLight3: rgb(245, 205, 253);

$boxshadow: 4px 3px 6px 0px grey;

$borderrad: 10px;