.carruselmenu{
    @include margin (0px, 0px, 0px, 50px);
    width: 100%;
}

.nutricion{
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
        &:hover{
            background-color:$light;
        }
    a{
        color:$light;
        &:hover{
            color: $primary;
        } 
    }
    }
}

.nutricion > div:nth-child(1){
    @include margin (0%, 1%, 0px, 0px);
}

.buenasalud{
    text-align: center;
    display: flex;
    justify-content: center;
    @include margin (0px, 0px, 0px, 50px);
    .card>div{
        display: flex;
        align-items: center;
        &:hover{
            background-color: $myBgColorLight2;
            color: $light;
        }
    }
    
}