//agregar las variables del proyecto
@import "shared/variables";

// personalizar boostrap
@import "shared/mybootstrap";


@import "shared/mixin" ;

@import "config/header" ;

@import "config/main" ;

@import "config/menu";

@import "config/prov";

@import "config/footer" ;

@import "config/texto" ;

@import "config/mediaquery" ;

li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(252, 242, 229);
}






@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


